<!DOCTYPE html>
<html lang="en">
<head>
	<title>All Openings</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
<%- include('../pages/head'); %>
</head>
<body style="padding:0px;">
	<div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-02.jpg'); background-size: 1534px 1000px;">
			<div class="wrap-login100" style="padding: 50px; width: 1020px;">
				<form class="login100-form validate-form" >
					<span class="login100-form-title" style="padding-bottom:20px;">
						All opening
					</span>
                        <table class="table table-hover">
                            <thead>
                
                                <tr>
                                    <th>Project Name </th>
                                    <th>Client Name</th>
                                    <th>Job Description</th>
                                    <th>Technology Stack </th>
                                    <th>Created By</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(openings.length > 0){ %>
                                <% openings.forEach(function(data) {%>
                                <tr>
                                    <td><%= data.projectName %></td>
                                    <td><%= data.clientName %></td>
                                    <td><%= data.jobDescription %></td>
                                    <td><%= data.technologyStack %></td>
                                    <td><%= data.createdBy %></td>
                                    <td>
                                        <div class="container-login100-form-btn">
                                            <div class="wrap-login100-form-btn">
                                                <div class="login100-form-bgbtn"></div>
                                                <a href="/openings/update/<%= data._id %>" class="login100-form-btn" style="text-decoration: none; color: white;">Update</a>
                                            </div>
                                        </div>
                                       </td>
                                </tr>
                                <% });%>
                                <% } else{ %>
                                <p>No Openings exist..!!</p>
                                <% } %>
                
                            </tbody>
                        </table>
					
                    <div class="container-login100-form-btn" style="padding-top: 10px;">
						<div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a href="/openings/create" class="login100-form-btn" style="text-decoration: none; color: white;">
                                Publish a new Job Opening
                            </a>
						</div>
                    </div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>