<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create Openings</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
<%- include('../pages/head'); %>
</head>
<body style="padding:0px;">
	<div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-02.jpg'); background-size: 1534px 1010px;">
			<div class="wrap-login100" style="padding: 50px;">
					<span class="login100-form-title" style="padding-bottom:20px;">
						Create Opening
					</span>
                    <form method="post" action="/openings/create">
					<div class="wrap-input100 validate-input m-b-23" data-validate = "Project Name is required">
						<span class="label-input100">Project Name</span>
						<input class="input100" type="text" name="projectName" placeholder="Type Project Name">
						<span class="focus-input100"  data-symbol="&#8594;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Client Name is required">
						<span class="label-input100">Client Name</span>
						<input class="input100" type="text" name="clientName" placeholder="Type Client Name">
						<span class="focus-input100"  data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
						<span class="label-input100">Role</span>
						<input class="input100" type="text" name="roleName" placeholder="Type Job Role">
						<span class="focus-input100" data-symbol="&#8594;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Job Description is required">
						<span class="label-input100">Job Description</span>
						<input class="input100" type="text" name="jobDescription" placeholder="Type Job Description">
						<span class="focus-input100" data-symbol="&#8594;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Technology is required">
						<span class="label-input100">Technology</span>
						<input class="input100" type="text" name="technologyStack" placeholder="Type Required tech stack">
						<span class="focus-input100" data-symbol="&#8594;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Please enter your name">
						<span class="label-input100">Created By</span>
						<input class="input100" type="text" name="createdBy" placeholder="Type your Name">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
					
					<div class="container-login100-form-btn" style="padding-top: 25px;">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">Submit</button>
						</div>
                    </div>
                    <div class="container-login100-form-btn" style="padding-top: 10px;">
						<div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <a href="/home" class="login100-form-btn" style="text-decoration: none; color: white;">
                                Back to home page
                            </a>
						</div>
                    </div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>