<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../pages/head'); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
</head>
<body class="container" style="background-image: url('images/bg-02.jpg'); background-size: 1534px 750px;">
    <header>
        <%- include('../pages/header'); %>
    </header>
<main>
    <p>Error Page</p>
</main>



</body>
</html>
