<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 70px;
width: 1070px;">
  <ul class="menu navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/" >
        <span><i class="fa fa-home" style="font-size:26px;"></i>&emsp;</span>
      </a>
    </li>
    <li class="menu-job-openings nav-item">
      <a class="nav-link" href="/openings/all">
        <span><b><i>Job Openings</i></b>&emsp;</span>
      </a>
    </li>
    <li class="menu-create-openings nav-item">
      <a class="nav-link" href="/openings/create">
        <span><b><i>Create Job Openings</i></b></span>
      </a>
    </li>
  </ul>
  </nav>
