<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../pages/head'); %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
</head>
<body class="container" style="background-image: url('images/bg-02.jpg'); background-size: 1534px 750px;">
    <header>
        <%- include('../pages/header'); %>
    </header>
<main style ="margin-top: 90px;
background: white;
width: 96%;">  
        <table class="table table-hover">
        <thead>
        
        <tr>
        <th>Project Name </th>
        <th>Client Name</th>
        <th>Job Description</th>
        <th>Technology Stack </th>
        <th>Created By</th>
        <th>Status</th>
        </tr>
        </thead>
        <tbody style="color: grey;">
        <% if(openings.length > 0){ %>
        <% openings.forEach(function(data) {%>
        <tr>
        <td><%= data.projectName %></td>
        <td><%= data.clientName %></td>
        <td><%= data.jobDescription %></td>
        <td><%= data.technologyStack %></td>
        <td><%= data.createdBy %></td>
        <td><%= data.status %></td>
        </tr>
        <% });%>
        <% } else{ %>  
            <p>No Openings exist..!!</p>
        <% } %>
        </tbody>
        </table>
</main>



</body>
</html>