<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../pages/head'); %>
</head>
<body class="container" style="background-image: url('images/bg-02.jpg'); background-size: 1534px 750px;">

<main>
    <div style="float:left; width:100%;">
    <div class="login" style="border: 1px solid #ccc;;
    width: 250px;
    height: 225px;
    float: left;
    margin: 185px 60px 100px 270px">
    <a href="/login">
    <img src='images/login.jpg'  width="247px" height="223px"/>
    </a>
    </div>
     <div class="Register" style="border: 1px solid #ccc;
     width: 250px;
     height: 225px;
     float: left;
     margin: 185px 180px 100px 60px">
     <a href="/register">
     <img src='images/register.png' width="247px" height="223px"/>
    </a>
     </div>
    </div>
</main>



</body>
</html>